# Gradle
.gradle/
build/
/app/build/
/captures/
*.apk
*.aab
*.keystore
*.jks

# Local configuration
local.properties
*.iml
.kotlin/

# Android Studio / IntelliJ IDEA
.idea/
*.idea/

# NDK / native
.externalNativeBuild
.cxx
cmake-build-*/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
